.noto-sans-<uniquifier> {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    max-width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 100%;
    margin: 24px auto;
}

.nav_a {
    color: black;
    font-size: 28px;
    font-weight: 700;
}

.title {
    display: flex;
    height: calc(100vh - 90px);
}


.title-left {
    width: 50vw;
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section.png?raw=true');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}

.title-right {
    width: 50vw;
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/index/Hero%20Section2.png?raw=true');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-text {
    color: #0027D5;
    font-family: Noto Sans TC;
    font-size: 28px;
    font-weight: bold;
}

h1 {
    font-size: 120px;
}

img {
    display: block;
    /* vertical-align: middle; */
    /* width: 100%; */
    width: 100%;
    height: auto;
    /* img預設不會跟著父容器伸縮，所以要設定 */
}

a {
    display: inline-block;
    /* 行內元素padding上下不會推出空間（左右會），所以可以設定display: inline-block*/
    text-decoration: none;
    color: rgba(0, 39, 213, 1)
        /* color: inherit;
    顏色跟著父層做變化 */
}


.latest-article {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border: 1px black solid;
}

.latest-img {
    width: 50vw;
}

.lastest-inf {
    width: 50vw;
    align-self: center;
}

.search {
    align-items: center;
    margin-top: 80px;
    width: 416px;
    height: 56px;
    border-radius: 40px;
    border: solid 1px black;
    padding: 16px;
}

.container {
    max-width: 1296px;
    margin: 0 auto;

}

.article-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 24px;
}

.card {
    width: 32%;
    margin: 40px 0;
}

.card-head {
    margin-bottom: 16px;
}


time {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
}

.hashtag {
    font-size: 24px;
    color: #0027D5;
    margin-right: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.card-title {
    font-size: 28px;
    font-weight: 700;
}

.card-text {
    font-size: 16px;
    margin-bottom: 16px;
    color: rgba(75, 75, 75, 1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.btn {
    text-align: center;
    border-radius: 40px;
    border: solid 1px black;
    padding: 8px 16px;
    color: rgba(75, 75, 75, 1);
}

.btn:hover {
    background-color: black;
    color: #fff;
}

.notice {
    text-align: center;
    border-radius: 40px;
    background-color: #0027D5;
    padding: 6px 12px;
    color: #fff;
    font-size: 16px;
    margin-left: 8px;
}

.page {
    display: block;
    width: 328px;
    height: 56px;
    margin-bottom: 64px;
    line-height: 56px;
}

a.pageNo {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: black;
    gap: 0;
}

a.pageVector {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: black;
    gap: 0;
}

.pageNo:hover {
    background-color: #0027D5;
    color: #fff;
}

.pageVector:hover {
    background-color: black;
    color: #fff;
}

footer {
    margin-top: 64px;
}

.contact {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    border
}

.email {
    color: black;
    font-size: 32px;
}

.email:hover {
    font-size: 3em;
}

.icon {
    width: 220px;
    display: flex;
}

.icon>img {

    width: 44px;
    height: 44px;
}

.icon-a:hover {
    background-color: cornflowerblue;
}

.right {
    text-align: center;
    padding: 24px 0;
}

@media (max-width:992px) {
body{
    width: 100%;
}

    .title {
        flex-direction: column;
        height: auto;
    }

    .title-left {
        width: 100vw;
        height: calc(100vh - 90px - 180px);
    }

    .title-right {
        width: 100vw;
        padding: 24px;
    }

    h1{
        font-size: 52px;
    }

    .latest-article {
        flex-direction: column;
        justify-content: flex-start;
    }

    .latest-img {
        width: 100%;
    }

    .lastest-inf {
        width: 93%;
        align-self: center;
        margin: 48px 0;
    }

    .container {
        width: 93%;
        margin: 0 auto;
    }

    .search {
        margin: 0 auto;
        width: 100%;
        margin-top: 64px;
    }


    .article-list {
        display: flex;
        flex-direction: column;
        margin: 40px 0;
    }

    .card {
        width: 100%;
        margin: 0 auto;
    }

    .page {
        margin: 0 auto;
    }

    .contact {
        width: 100%;
    }

    .email {
        display: none;
    }

    .icon {
        display: none;
    }

    .icon>img {
        display: none;
    }
    .right{
        border: solid 1px black;
    }
}